<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        {{nombre_paciente}}_{{apellido_paciente}}_{{getfecha}}
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />       
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" />
    <script src="assets/js/generar_pdf.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/sonification.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h2 align="center">
                    CERTIFICADO DE AUDIOMETRIA TONAL OCUPACIONAL
                </h2>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
               <h5>
                   NOMBRES: {{ nombre_paciente }} {{ apellido_paciente }}
               </h5>
                
                
                
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h5>
                    EDAD: {{ edad }}
                </h5>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
               <h5>
                   OCUPACION: {{ ocupacion_paciente }} 
               </h5>
                
                
                
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h5>
                    Fecha: {{ getfecha }}
                </h5>
                
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h4 align="center">
                    AUDIOGRAMA
                </h4>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>



    <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        This demo shows how plot bands can be used on an axis to
        highlight regions of a chart. In this example, the plot
        bands are used to separate the wind speeds on the Y-axis
        into categories.
    </p>
</figure>


<style type="text/css">
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


</style>


<script type="text/javascript">

// Data retrieved from http://vikjavev.no/ver/index.php?spenn=2d&sluttid=16.06.2015.


Highcharts.chart('container', {
    chart: {
        type: 'spline',
        scrollablePlotArea: {
            minWidth: 600,
            scrollPositionX: 1
        }
    },
    title: {
        text: 'Gráfica de resultados Audiómetro',
        align: 'center'
    },
    subtitle: {
        text: '',
        align: 'left'
    },
    xAxis: {
        title: {
            text: 'Heartz (Hz)'
        },
        labels: {
            125: '125',
            250: '250',
            500: '500',
            overflow: 'justify'
        },
        gridLineWidth: 1
    },
    yAxis: {
        title: {
            text: 'Decibeles (dB)'
        },
        minorGridLineWidth: 0,
        gridLineWidth: 1,
        alternateGridColor: null,
        plotBands: []
    },
    tooltip: {
        valueSuffix: ' m/s'
    },
    plotOptions: {
        spline: {
            lineWidth: 4,
            states: {
                hover: {
                    lineWidth: 5
                }
            },
            marker: {
                enabled: false
            },
            pointInterval: 24000, // one hour
            pointStart: 125
        }
    },
    series: [{
        name: 'Oido derecho',
        data: [
            3.7, 30.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 8.4,
            6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
            9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
            10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
            10.1
        ]

    }, {
        name: 'Oido izquierdo',
        data: [
            0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
            0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
            0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
            0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
            1.5
        ]
    }],
    navigation: {
        menuItemStyle: {
            fontSize: '10px'
        }
    }
});
</script>



<br><br>

    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
               <h5>
                   OTOSCOPIA: 
               </h5>
                
                
                
            </div>
           
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
               <h5>
                   DIAGNOSTICO: OD: 
               </h5>
                
                
                
            </div>
           
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
               <h5>
                   DIAGNOSTICO: ID: 
               </h5>
                
                
                
            </div>
           
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
               <h5>
                   RECOMENDACIONES: 
               </h5>
                
                
                
            </div>
           
        </div>
    </div>
    <br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h5 align="center">
                    --------------------------------- 
                </h5>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h5 align="center">
                    Dr/a {{ nombre_doctor }} {{ apellido_doctor }} 
                </h5>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h5 align="center">
                    {{ especialidad_doctor }}
                </h5>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="col-md-12 text-center">
                    <button id="guardar" type="button" class="btn btn-primary btn-lg" onclick="imprimir()">Guardar</button>
                </div>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="col-md-12 text-center">
                   <button id="nueva_consulta" type="button" class="btn btn-primary btn-lg" style="display:none">
                       <a href="/inicio" style="color:#FFFFFF">
                           Nueva Consulta
                       </a>
                    </button>
                </div>
            </div>
            <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
                
            </div>
        </div>
    </div>

    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
</body>
</html>